.add-window {
    position: absolute;
    z-index: 800;
    left: 0.5em;
    top: 0.5em;

    height: 80vh;
    width: 60vw;

    background-color: white;
    border: #8F0000 solid 2px;
    border-radius: 15px;

    box-shadow: rgba(0, 0, 0, 0.32) 0 3px 3px;

    transition: all 300ms ease;

    font-family: "Courier New", sans-serif;

    overflow: auto;

    display: flex;
    flex-direction: column;
}

.add-window.hidden {
    transform: translateY(-100vh);
    transition: all 300ms ease;
    pointer-events: none;
}

.add-window > h2 {
    margin-left: 1em;
    margin-top: 0.5em;
    color: #8F0000;
}

.controls-container {
    margin: 0 3em 0;
    display: flex;
    justify-content: space-between;
}

.start-button {
    background-color: #8F0000;
    color: #ffd600;
    border-radius: 10px;
    border: #8F0000 2px solid;
    padding: 0 1em 0;
}

.start-button:disabled {
    background-color: #cbcbcb;
    color: #797979;
    border: #797979 2px solid;
}

.start-button:hover {
    scale: 1.05;
}

@media (max-width: 750px) {
    .add-window {
        width: 95%;
        margin: auto;
    }
}