.block {
    margin: 5px;
    background-color: rgba(255, 83, 53, 0.16);
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #FF6B35FF;

    display: grid;
    grid-template-areas: "name-size btn" "children children";
}

.name-size {
    grid-area: name-size;
}

.expand-button {
    grid-area: btn;
    margin-left: 1em;
    width: max-content;
    background-color: #cd0000;
    color: #ffd600;
    border: none;
    border-radius: 5px;
    height: 1.5em;
    justify-self: end;
}

.expand-button:hover {
    background-color: rgba(219, 0, 0, 0.5);
}

.children {
    grid-area: children;
}

.no-file {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size:  1.5em;
    text-align: center;
}